@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    direction: rtl;
  }

  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #FDF8E7;
    color: #4A3B32;
  }
}
